$dark-bg: #282c34;
$lite-fg: #bbb;

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: $dark-bg;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  top: 0px;
  width: 100%;
}

.navlink {
  color: #bbb;
  background-color: inherit;
  font-size: inherit;
  border: inherit;
  position: relative;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 4px;
  cursor: pointer;
}

.navlink:hover {
  background-color: #484c54;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background-color: #282c34;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: $lite-fg;
}

#project-list {
  background-color: $dark-bg;
  color: $lite-fg;
}

#project-list-container {
  float:left;
  position:relative;
}

#project-list-container .dropdown-content {
  display:none;
  visibility: hidden;
  background-color: $dark-bg;
  color: $lite-fg;
  position:absolute;
  z-index:1;
  min-width:230px;
  bottom:0px;

}

#project-list-container .dropdown-content .project{
  position: absolute;
  float: none;
  padding: 5px;
  display:block;
  font-size:  calc(2px + 2vmin);;
  text-align: left;
  background-color: $dark-bg;
  color: $lite-fg;
  left:0px;
  top:0px;
}

#project-list-container:hover .dropdown-content {
  display: block;
  visibility: visible;
}